/* General Styles */
* {
    box-sizing: border-box;
}

/* Specify font(s) */
body {
    font-family: 'Roboto', sans-serif; /* Specify fallback */
    margin: 0;
    padding: 0;
    background-color: #e7dfd8; /* Colour */
    color: #231f20;
}

header {
    padding: 1em 0;
    text-align: center;
}

header > nav > ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

nav > ul > li {
    display: inline;
    margin: 0 30px;
}

/* Attribute selectors */
/*Using Child Combinator*/
header > nav > ul > li:nth-child(odd) > a {
    color: #000000;
}
/*Using Nth Pseudo class*/
header > nav > ul > li:nth-child(even) > a {
    color: #231f2091; /* Semi-transparent colour */
}

header > nav > ul > li > a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 5px;
    position: relative;
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Transition */
}

/* Text effects */
header > nav > ul > li > a::after {
    content: ""; /* Pseudo element */
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ca0000;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease; /*Text Effect*/
}

header > nav > ul > li > a:hover,/*Text Effect*/
header > nav > ul > li.active > a {
    color: #ca0000; 
}

header > nav > ul > li > a:hover::after,
header > nav > ul > li.active > a::after {
    transform: scaleX(1);
}

/* Main Styles */
main {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 0 auto;
    border-radius: 20px; /* Rounded corners */
    background: radial-gradient(ellipse at top left, #ece9e6 0%, #d0c4bdd2 70%, #c0b6a89f 100%); /* Gradient */
    min-height: calc(100vh - 140px);
    max-width: 1200px;
    width: 100%;
}

main > section {
    flex: 3;
    padding: 10px;
}

.myphoto { 
    width: 70%;
    margin: -130px 0 0 70px;
}

/* Main Headings */
main > section > h1 {
    font-size: 60px;
    margin-top: 20px;
}

main > section > h2 {
    font-size: 35px;
    margin: -20px 0 0 200px;
}

main > section > p {
    font-size: 25px;
    line-height: 1.6;
    font-family: 'Times New Roman', Times, serif;
}

.vertical-line {
    width: 2px; 
    background-color: #231f204d; /* Shadow */
    margin: 0 5px 0 30px;
}

/* Aside Styles */
aside {
    flex: 1;
    padding: 20px;
}

aside > h2 {
    text-align: center;
    font-size: 25px;
}

.social-media {
    margin: 30px 100px;
    list-style: none;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 30px;
}

.social-media > li {
    margin: 0 10px;
}

/* Image hover effect using transitions */
.social-media > li > a > img {
    width: 40px;
    transition: transform 0.2s ease; /* Transition */
}

.social-media > li > a > img:hover {
    transform: scale(1.3); /* Scale image on hover */
}

footer {
    text-align: center;
    padding: 10px;
    color: #231f20;
}

/* About Page Styles */
.about-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

.about-photo {
    width: 350px;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-title {
    font-size: 60px;
    margin-bottom: -30px;
    color: #231f20;
    text-align: center;
}

.introduction-card {
    padding: 20px;
    text-align: center;
}

/* Card Styles with Shadows and Rounded Corners */
.card {
    background-color: rgba(0, 0, 0, 0.15); /* Semi-transparent colour */
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    margin: 40px 0;
    padding: 25px;
    width: 100%;
}

.about-subtitle {
    margin-top: 20px;
    color: #603c15b1;
    font-size: 1.8em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;  
}

.about-text {
    line-height: 1.8;
    font-size: 22px;
    color: #231f20;
    margin: 20px 0;
    text-align: center;
}
/* Blog Page Styles */
.blog-post {
    background-color: rgba(0, 0, 0, 0.15); /* Semi-transparent colour */
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    margin: 40px 0;
    padding: 25px;
    width: 100%;
}
/*Using a Structural Selector - first-child*/
.blog-post:first-child {
    border: 2px solid #ca00007e; 
    margin-top: 20px;
}


.blog-title,
.blog-date {
    text-align: center;
}

.blog-title {
    font-size: 60px;
    margin: 20px auto 30px;
    color: #231f20;
}

input:valid {
    border-color: #28a745; /* Validity pseudo class */
}

.blog-date {
    font-size: 18px;
    color: #666666;
    margin-bottom: 15px;
}
/*Using a relational selector - general sibling*/
.blog-title ~ .blog-text {
    font-weight: bolder;
    line-height: 1.8;
    font-size: 22px;
    color: #231f20;
    text-align: justify;
    margin: 20px 0;
}


/* Contact Page Styles */
.contact-container {
    max-width: 1000px;
    margin: 5px auto;
    padding: 10px;
}

.contact-title {
    font-size: 60px;
    color: #231f20;
    text-align: center;
}

.contact-description {
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
}

/* Form Group Styles */
.form-group {
    margin-bottom: 30px;
}

/* Contact Form Styles */
.contact-form,
.newsletter-form {
    background-color: rgba(249, 249, 249, 0.6); /* Semi-transparent colour */
    border: 1px solid #ddd;/*Border*/
    border-radius: 8px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition */
}

/* Hover effect for forms */
.contact-form:hover,
.newsletter-form:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow */
}

/* Input Styles */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded corners */
    font-size: 16px;
    margin-bottom: 12px;
}

/* Focus Styles */
input:focus,
textarea:focus {
    border-color: #ca0000; /* User action pseudo class */
    outline: none;
}

/* Button Styles */
button {
    background-color: rgb(202, 0, 0); /* Colour */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transition */
}

button:hover {
    background-color: #a60000; /* Colour */
    transform: scale(1.05); /* Transform */
}

button:not(:hover) {
    opacity: 0.6; /* Negation pseudo class */
}

/* Blog Background Images */
#hobby { 
    background-image: url('images/hobby.jpg');
}

#project { 
    background-image: url('images/project.jpg');
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card, .blog-post, main > section > p {
    animation: fadeIn 2s ease-in; /* Animation */
}

@media only screen and (max-width: 768px) {
    header nav > ul {
        flex-direction: column;
        padding: 5px;
    }

    header nav > ul > li {
        margin: 10px 10px;
    }

    main {
        flex-direction: column;
        padding: 20px;
    }

    main > section {
        padding: 10px 0;
    }

    #myphoto {
        width: 90%;
        margin: 20px auto;
    }

    main > section > h1 {
        font-size: 32px;
        text-align: left;
    }

    main > section > h2 {
        font-size: 24px;
        margin: 10px 0;
        text-align: center;
    }

    main > section > p {
        font-size: 25px;
        line-height: 1.5;
    }

    .social-media {
        margin: 20px 0;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
    }

    .social-media > li {
        margin: 0 10px;
    }

    .social-media > li > a > img {
        width: 50px;
        transition: transform 0.2s ease;
        padding-right: 20px;
    }

    footer {
        font-size: 14px;
    }

    .about-container {
        padding: 10px;
    }

    .about-title {
        font-size: 2.5em;
    }

    .about-subtitle {
        font-size: 1.2em;
    }

    .about-text {
        font-size: 1em;
    }

    .about-photo {
        width: 100%;
        max-width: none;
    }

    .blog-title {
        font-size: 30px;
    }

    .contact-container {
        padding: 10px;
    }

    .contact-title {
        font-size: 32px;
    }

    .contact-description {
        font-size: 18px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 14px;
    }

    button {
        font-size: 16px;
    }
}
